/* Gruvbox Dark Theme Colors */
* {
	bg: rgba(40, 40, 40, 0.85);
	cur: #1d2021;
	fgd: #ebdbb2;
	cmt: #928374;
	cya: #83a598;
	grn: #b8bb26;
	ora: #fe8019;
	pur: #d3869b;
	red: #fb4934;
	yel: #fabd2f;

	font: "CaskaydiaCove Nerd Font Propo 12";

	foreground: @fgd;
	background: @bg;
	active-background: @pur;
	urgent-background: @red;

	selected-background: @active-background;
	selected-urgent-background: @urgent-background;
	selected-active-background: @active-background;
	separatorcolor: @active-background;
	bordercolor: @pur;
}
